
<div class="banner">
  <h1 id="banner_header"> <%= @user.username %>'s profile </h1>


  <div class="user-sidebar">

  </div>

  <% if @is_current_user then %>
    <%= render 'user_profile' %>
  <% else %>
    <%= render 'profile' %>
  <% end %>
</div>
