
<div class="banner">



  <h1 id="banner_header"> <%= @user1.username %>'s profile </h1>




  <div id="spaceforty">

  <% if @is_current_user then %>
    <%= render 'user_profile' %>
  <% else %>
    <%= render 'profile' %>
  <% end %>
  <br><br>
  </div>
</div>
<div class="user-sidebar">

</div>
