#user-sidebar  {
   position: relative;
   width: 10%;
   height: 80%;
   background-color: blue;
 }
 #content {
   position: relative;
   width: 80%;
   background-color: chartreuse;
 }
 #search-banner {
     position: relative;
     height: 10%;
     background-color: cyan;
 }
 #main-content {
     position: relative;
     height: 90%;
     background-color: darkmagenta;
 }
 #social-sidebar {
     position: relative;
     width: 10%;
     background-color: darkolivegreen;
 }
