<div>

<h1> New Playlist </h1>

<div id="spaceforty">
<%= form_for @playlist do |form| %>
  <label>Name: </label>
  <%= form.text_field :name %>
  <br>
  <%= form.submit "Create Playlist"%>
<% end %>
</div>

</div>
